
body, ul, li, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    list-style: none;
    text-decoration: none;
   
}
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body.fixed-navbar-padding {
    padding-top: 60px; /* Adjust this value based on your navbar height */
}
/* Main Navigation Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: -10px;
    z-index: 1000; /* Set a higher z-index to make sure it appears above other elements */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007BFF; /* Change to your desired hover color */
}

/* Submenu Styles */
.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.nav-links li:hover .submenu {
    display: block;
}

.submenu li {
    width: 150px;
    padding: 10px;
    font-size: 16px;
}

.submenu a {
    color: black;
}

.submenu a:hover {
    color: #007BFF;
}
/* User Account Styles */
.user-account a {
    margin-left: 20px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.user-account a:hover {
    color: #007BFF; /* Change to your desired hover color */
}


.placement-heading
{
    text-align: center;
    color: #007BFF;
    padding-top: 70px;
    padding-bottom: 20px;
}
main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 30px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

h1, h2, h3 {
    color: #3498db;
}

p {
    color: #555;
    margin-bottom: 15px;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;  
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Distribute content evenly */
    max-width: 1200px; /* Set the maximum width for the content */
    margin: 0 100px; /* Center the content horizontally */
}

.copyright {
    font-size: 17px;
}

.copyright p{
    color: #fff;
}
.social-media-icons {
    margin-top: 11px;
    display: flex;
}
.social-media-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: whitesmoke; /* Circle background color */
    border-radius: 50%;
    margin-left: 10px; /* Add margin to the left of each icon */
    transition: background-color 0.3s ease-in-out;
    
    }
    .fa-instagram{
        color: hotpink;
    }
    .fa-pinterest{
        color: red;
    }
    .fa-youtube
    {
        color: red;
    }
    .fa-facebook-f
    {
        color: #1877f2;
    }
    .fa-twitter
    {
        color: #1da1f2;
    }