body
{
    margin: 0;
    padding: 0;
}
.training-heading {
    color: #02236d;
    text-align: center;
    padding: 1em;
    padding-top: 80px;
}

.training {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.training h2 {
    color: #00b9fe;
    border-bottom: 2px solid #00b9fe;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.training p {
    line-height: 1.6;
    font-size: 1.1em;
}

.training ul {
    list-style-type: none;
    padding: 0;
}

.training li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.training  ul li:before {
    content: "✓";
    margin-right: 10px;
    color: #00b9fe;
}

.skills{
    padding-top: 30px;
    max-width: 1150px;
    margin: 0px auto;
}
.skills h2{
    margin-left: 10px;
    color: #00b9fe;
    border-bottom: 2px solid #00b9fe;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.6;
    margin: 15px;
    
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

 h2, h3 {
    color: #02236d;
}

p {
    color: #555;
    margin-bottom: 15px;
}
